[Desktop Entry]
Encoding=UTF-8
Name=createAp-Gui
X-GNOME-FullName=pkexec create_ap-gui
Exec=pkexec create_ap-gui
TryExec=pkexec createAp-Gui
Icon=createApGui.png
Terminal=false
Type=Application
StartupNotify=false
Comment=GUI for CreateAP 
Name[en_US]=createAp-Gui
