[Desktop Entry]
Encoding=UTF-8
Name=createAp-Gui
X-GNOME-FullName=gksudo create_ap-gui
Exec=gksudo create_ap-gui
TryExec=gksudo createAp-Gui
Icon=createApGui.png
Terminal=false
Type=Application
StartupNotify=false
Comment=Creating AP GUI
Name[en_US]=createAp-Gui
